{% import '_macros/global' as global %}
{% set list = block.list %}

<div class="{% if entry.type != 'articles'  %}container{% endif %}">
    <div class="content-block --tight  |  mx-auto">

    {% if block.header|length %}
        <h2>{{ block.header }}</h2>
    {% endif %}

    {% if list|length %}
        <ul class="list--media">
        {% for item in list.all() %}

            {% set type = 'link' %}
            {% if 'Asset' in item.item.type %}
                {% set type = 'file' %}
            {% endif %}


            <li class="list--media__item">

                <a href="{{ item.item.url }}" target="_blank">
                    {% if type == 'file' %}
                    {{ global.utilityIcon('attachment', 'h-5 w-6  |  mr-4') }}
                    {% else %}
                    {{ global.utilityIcon('link', 'h-5 w-6  |  mr-4') }}
                    {% endif %}
                    {{ item.item.text }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    </div>
</div>