{#   Logged In - Org Info   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% requireLogin %}
{% if not currentUser.isInGroup('memberAdmin') %}
    {% redirect '/account/profile' %}
{% endif %}

{% set organization = craft.entries().anyStatus().id(currentUser.organizationId).one() %}
{% if not organization %}
    {% redirect '/account/profile' %}
{% elseif organization.enabled == 0 %}
	{% redirect '/rejoin' %}
{% endif %}

{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Manage Members',
      }
   %}

   <div class="form-flow  |  container">
      {{ global.link('../account/manage-members', 'Manage Members', 'link --arrow --back  |  mb-2 md:mb-4') }}
      <h2>Invite Members</h2>

      <div class="form-flow__wrapper">

         {#   Form   #}
         <form method="post" class="form-group --wide" id="invite-members" data-validate>
         	<input type="hidden" name="action" value="change-stripe-subscription/default/invite">
         	<input type="hidden" name="invites" id="invites" value="1">
         	<input type="hidden" name="orgId" value="{{ currentUser.organizationId }}">
         	<input type="hidden" name="orgName" value="{{ organization.organizationName }}">
         	{{ csrfInput() }}
            <div class="invite-container  |  js--invite-container">
               	<div class="invite-group">
               		<div class="field-group --half-width">
               			<label for="name--1" class="field-group__label">Name</label> 
               			<input type="text" name="name--1" id="name--1" class="name field-group__input --field ">
               		</div> 
               		<div class="field-group --half-width">
               			<label for="email--1" class="field-group__label">Email address</label> 
               			<input type="email" name="email--1" id="email--1" class="email field-group__input --field ">
               		</div>
               	</div>
            </div>

            {#   Add Button   #}
            <div class="w-full  |  -mt-2 mb-2 px-2">
               {{ global.btnButton( 'btn --add  |  mt-4  |  js--add-button', 'Add another member') }}
            </div>

            {#   Submit and Cancel   #}
            <div class="flex flex-wrap  |  mt-4">
               {#   Submit   #}
               {{ form.submit( 'mt-4 sendInvites', 'Send Invitation') }}

               {#   Cancel   #}
               <button
                  class="btn --simple  |  mt-4 ml-4" type="button"
                  onClick="function clearForm(){ document.getElementById('invite-members').reset(); } clearForm();"
               >Clear Form</button>
            </div>
         </form>
      </div>
      
      {% set sent = craft.app.request.param('success') %}
      {% if sent > 0 %}
      <div class="form-flow__wrapper" style="margin-top:20px;">
      	{% if sent > 1 %}
	  		Your {{ sent }} invitations have been sent.
	  	{% else %}
	  		Your invitation has been sent.
	  	{% endif %}
      </div>
{% endif %}
   </div>

{% endblock %}

{% do view.registerJsFile('/assets/js/add-invite-group.js') %}