{#   Logged In - Org Info   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% requireLogin %}
{% if not currentUser.isInGroup('memberAdmin') %}
    {% redirect '/account/profile' %}
{% endif %}

{% set organization = craft.entries().id(currentUser.organizationId).one() %}
{% if not organization %}
    {% redirect '/account/profile' %}
{% endif %}


      	
{% set payments = null %}
{% set submissions = craft.freeform.submissions({
	form: 'joinTACWApage2'
}).all() %}

{% for submission in submissions if submission.creationId == organization.creationId %}
	{% set payments = craft.freeformPayments.payments(submission.id) %}
{% endfor %}
 
{#  {% set planId = (organization.collectionAndTreatmentSystems) ? organization.collectionAndTreatmentSystems : (organization.collectionSystemOnly) ? organization.collectionSystemOnly : organization.affiliateSize %} #}
 {% set planId = (organization.organizationType == 'collectionAndTreatmentSystems') ? organization.collectionAndTreatmentSystems : (organization.organizationType == 'collectionSystemOnly') ? organization.collectionSystemOnly : organization.affiliateSize %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Organization Settings',
         'tabs': 'true',
         'activeTab': '2'
      }
   %}

   <div class="form-flow  |  container">
      
      <div class="form-flow__wrapper">
         
         {{ craft.freeform.form("organizationMembership", {
			  labelClass: "form-label",
			  inputClass: "form-control",
			  overrideValues: {
				organizationType: organization.organizationType,
				collectionAndTreatmentSystems: organization.collectionAndTreatmentSystems,
				collectionSystemOnly: organization.collectionSystemOnly,
				affiliateSize: organization.affiliateSize,
				subscriptionPlanID: planId,
				entryId: organization.id
			  }
			}).render() }}
			
{# 				stripeSubscriptionId: payments.resourceId, #}
			
      </div>
   </div>


   {#   Deactivate Module   #}
   <div class="modal__container  |  js--cancelSubscription-modal">
      {#   Overlay   #}
      <div class="modal__overlay"></div>

      {#   Modal   #}
      <div class="modal">
         {#   Header   #}
         <div class="modal__header">
            <h1 class="modal__title">Cancel Subscription?</h1>

            <button class="modal__close-btn  |  js--modal__close-btn">
               {{ global.utilityIcon('close') }}
            </button>
         </div>

         {#   Copy   #}
         <div class="modal__copy">
            <p>Are you sure you want to cancel this subscription? Once cancelled, all members of this organization will no longer be able to sign in to TACWA.org.</p>
            {{ craft.freeform.form("cancelSubscription", {
			  labelClass: "form-label",
			  inputClass: "form-control",
			  overrideValues: {
				organizationName: organization.organizationName,
				organization: organization.id
			  }
			}).render() }}
         </div>

         {#   Action   #}
         <div class="modal__action">
            {#   Cancel   #}
            <button class="btn --simple  |  mr-4  |  js--modal__cancel-btn" type="button">Cancel</button>

            {#   Deactivate   #}
{#
            <form method="post" id="cancelSubscription">
			    {{ csrfInput() }}
			    <input type="hidden" id="organizationId" name="organizationId" value="{{ organization.id }}">
			    <input type="hidden" id="organizationId" name="stripeSubscriptionId" value="{{ payments.resourceId }}">
			    <input type="hidden" name="action" value="change-stripe-subscription/default/cancelsubscription">
				<input type="submit" value="Cancel Subscription" class="btn --primary --caution">
			</form>
#}
         </div>
      </div>
   </div>

{% endblock %}


{% do view.registerJsFile('/assets/js/cancel-subscription-modal.js') %}
{% do view.registerJsFile('/assets/js/set-subscription.js') %}
{% do view.registerJsFile('/assets/js/static/form-validation.js') %}

	

{% js %}

var planPrices = [
{% set planPrices = [] %}
{% set plans = craft.commerce.getPlans().getAllPlans() %}
{% for plan in plans %}
    {% set planData = plan.planData|json_decode %}
    {% set planPrices = planPrices|merge([{'id': planData.plan.id, 'amount': (planData.plan.amount / 100)|currency}]) %}
    {id: "{{ planData.plan.id }}", amount: "{{ (planData.plan.amount / 100)|currency }}"},
{% endfor %}
];

document.addEventListener('DOMContentLoaded', function() {
	var field, fields = [
		"organizationType",
		"collectionAndTreatmentSystems",
		"collectionSystemOnly",
		"affiliateSize",
		"stripeSubscriptionId"
	];
	
	for(var i=0, len=fields.length; i < len; ++i) {
		field = document.getElementsByName(fields[i]);
		field[0].setAttribute("name", "fields["+fields[i]+"]");
	}
	
	updatePrice('{{ planId }}');
}, false);

{% endjs %}