{#   Events - Detail   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'left',
         'heading': 'Bimonthly Meeting',
         'button_url': '/static/events--index',
         'button_text': 'Upcoming Events'
      }
   %}

   <section class="event">
      <div class="container  |  lg:relative">
         {#   Event Details   #}
         <div class="event__detail">
		   {#   Action   #}
		   <div class="event__detail__action {% if pastEvent %}--disabled{% endif %}">
		      {% if pastEvent %}
		         {{ global.btn('/static/forms/event-registration--contact--guest', 'btn --primary --dark --wide  |  sm:mx-2', 'Register') }}
		
		         <p>This is a past event</p>
		      {% else %}
		         {#   Register   #}
		         {{ global.btn( '/event-registration/' ~ event.id, 'btn --primary --dark --wide  |  sm:mx-2', 'Register') }}
		         {#   Add to Calendar   #}
		         {{ global.btn('/export/event/' ~ event.id, 'btn --primary --light --wide  |  sm:mx-2', 'Add to Calendar') }}
		      {% endif %}
		   </div>
		
		   {#   Container   #}
		   <div class="event__detail__container">
		         <div class="event__detail__item">
		            <h3>Date & Time</h3>
	                  {% include '_components/static/snippets/events--event-dates'
	                     with {
	                        'event': event
	                     }
	                  %}
		         </div>
		         
		         {% if event.producer %}
		         <div class="event__detail__item">
		            <h3>Producer</h3>
		            <p>{{ event.producer }}</p>
		         </div>
		         {% endif %}
		         
		         {% if event.host %}
		         <div class="event__detail__item">
		            <h3>Host</h3>
		            <p>{{ event.host }}</p>
		         </div>
		         {% endif %}
		         
		         {% if event.location %}
		         <div class="event__detail__item">
		            <h3>Location</h3>
		            {{ event.location }}
		            <a target="_blank" href="{{ (event.directions) ? event.directions : 'https://www.google.com/maps/place/' ~ event.location|replace({'<br': ' <br'})|striptags|url_encode|replace({'%20': '+'}) }}">Get Directions</a>
		         </div>
		         {% endif %}
		         
		         {% if event.sponsors %}
		         <div class="event__detail__item">
		            <h3>Sponsors</h3>
		            {% set sponsors = [] %}
		         {% for item in event.sponsors %}
		         	{% set sponsors = sponsors|merge([(item.sponsorLink) ? '<a href="' ~ item.sponsorLink ~ '">' ~ item.sponsorName ~ '</a>' : item.sponsorName]) %}
		         {% endfor %}
		         	<p>{{ sponsors|join(', ') }}</p>
		         </div>
		         {% endif %}
		   </div>
		</div>
		
		
		

         {#   Event Content   #}
         <div class="event__info">
			{% if event.meetingTheme %}
            {#   Theme   #}
            <div class="event__info__item">
               <h2>Meeting Theme</h2>
               <p>{{ event.meetingTheme }}</p>
            </div>
            {% endif %}
			
			{% if event.meetingAgenda %}
            {#   Agenda   #}
            <div class="event__info__item">
               <h2>Meeting Agenda</h2>
               <p>{{ event.meetingAgenda }}</p>
            </div>
            {% endif %}
			
			{% if event.sponsors %}
	         	{% set sponsorLogos = false %}
	         	{% for item in event.sponsors %}
	         		{% if item.sponsorLogo.first() %}
	         			{% set sponsorLogos = true %}
	         		{% endif %}
	         	{% endfor %}
	         	
	         	{% if sponsorLogos %}
            {#   Sponsors   #}
            <div class="event__info__item">
               <h2>Sponsors</h2>
               <div class="event__info__logo-grid">
                  {% for item in event.sponsors %}
	                  {% set image = item.sponsorLogo.first() %}
	                  {% if image %}
	                     <div>
	                     	{% if item.sponsorLink %}
	                     	<a href="{{ item.sponsorLink }}">
	                     	{% endif %}
	                     
	                        <img alt="{{ item.sponsorName }}" src="{{ image.getUrl() }}">
	                        
	                     	{% if item.sponsorLink %}
	                     	</a>
	                     	{% endif %}
	                     </div>
	                    {% endif %}
                  {% endfor %}
               </div>
            </div>
            	{% endif %}
            {% endif %}

			{% if event.attachments %}
            {#   Media   #}
            <div class="event__info__item">
               <h2>Attachments & Links</h2>
               {% include '_components/static/list--media'
                  with {
                     media: event.attachments
                  }
               %}
            </div>
            {% endif %}
            
         </div>

      </div>
   </section>

{% endblock %}