{#   Events - Detail   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   <section class="event">
      <div class="container  |  lg:relative">
         {{ global.link('/events', 'Upcoming Events', 'link --arrow --back  |  mb-2 md:mb-4') }}
         <h1>{{ event.title }}</h1>



         {#   Event Details   #}
         <div class="event__detail">
		   {#   Action   #}
		   <div class="event__detail__action {% if pastEvent is defined %}--disabled{% endif %}">
		      {% if pastEvent is defined %}
		         {{ global.btn('/static/forms/event-registration--contact--guest', 'btn --primary --dark --wide  |  sm:mx-2', 'Register') }}
		
		         <p>This is a past event</p>
		      {% else %}
		         {#   Register   #}
		         {{ global.btn( (currentUser) ? 'events/event-registration-member?e=' ~ event.id : 'register?e=' ~ event.id, 'btn --primary --dark --wide  |  sm:mx-2', 'Register') }}
		         {#   Add to Calendar   #}
{# 		         {{ global.btn('', 'btn --primary --light --wide  |  sm:mx-2', 'Add to Calendar') }} #}
{#
		      {% set events = craft.calendar.events({ calendarId: [event.id] }) %}
		      {{ craft.calendar.export(events) }}
#}
		      {% endif %}
		   </div>
		
		   {#   Container   #}
		   <div class="event__detail__container">
		         <div class="event__detail__item">
		            <h3>Date & Time</h3>
	                  {% include '_components/static/snippets/events--event-dates'
	                     with {
	                        'event': event
	                     }
	                  %}
		         </div>
		         
		         {% if event.producer %}
		         <div class="event__detail__item">
		            <h3>Producer</h3>
		            <p>{{ event.producer }}</p>
		         </div>
		         {% endif %}
		         
		         {% if event.host %}
		         <div class="event__detail__item">
		            <h3>Host</h3>
		            <p>{{ event.host }}</p>
		         </div>
		         {% endif %}
		         
		         {% if event.location %}
		         <div class="event__detail__item">
		            <h3>Location</h3>
		            {{ event.location }}
		            <a target="_blank" href="{{ (event.directions) ? event.directions : 'https://www.google.com/maps/place/' ~ event.location|replace({'<br': ' <br'})|striptags|url_encode|replace({'%20': '+'}) }}">Get Directions</a>
		         </div>
		         {% endif %}
		         
		         {% if event.sponsors %}
		         <div class="event__detail__item">
		            <h3>Sponsors</h3>
		            {% set sponsors = [] %}
		         {% for item in event.sponsors %}
		         	{% set sponsors = sponsors|merge([(item.sponsorLink) ? '<a href="' ~ item.sponsorLink ~ '">' ~ item.sponsorName ~ '</a>' : item.sponsorName]) %}
		         {% endfor %}
		         	<p>{{ sponsors|join(', ') }}</p>
		         </div>
		         {% endif %}
		   </div>
		</div>
		
		
		

         {#   Event Content   #}
         <div class="event__info">
            {#   Theme   #}
            <div class="event__info__item">
               <h2>Meeting Theme</h2>
               <p>{{ event.meetingTheme }}</p>
            </div>

            {#   Agenda   #}
            <div class="event__info__item">
               <h2>Meeting Agenda</h2>
               <p>{{ event.meetingAgenda }}</p>
{#
               <ul class="event__info__list">
                  {% for item in meeting.agenda %}
                     <li>{{ item.item }}</li>
                  {% endfor %}
               </ul>
#}
            </div>

            {#   Sponsors   #}
            <div class="event__info__item">
               <h2>Sponsors</h2>
               <div class="event__info__logo-grid">
                  {% for item in event.sponsors %}
                  {% set image = item.sponsorLogo.first() %}
                     <div>
                     	{% if item.sponsorLink %}
                     	<a href="{{ item.sponsorLink }}">
                     	{% endif %}
                     
					 	{% if image %}
                        <img alt="{{ item.sponsorName }}" src="{{ image.getUrl() }}">
                        {% else %}
                        {{ item.sponsorName }}
                        {% endif %}
                        
                     	{% if item.sponsorLink %}
                     	</a>
                     	{% endif %}
                     </div>
                  {% endfor %}
               </div>
            </div>

            {#   Media   #}
            <div class="event__info__item">
               {% include '_components/static/list--media'
                  with {
                     media: event.attachments
                  }
               %}
            </div>
         </div>

      </div>
   </section>

{% endblock %}