{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Join TACWA'
      }
   %}

   <div class="form-flow  |  container">
      <h2>Organization Information</h2>

      <div class="form-flow__wrapper">

         {#   Form   #}
         <form action="../forms/join--2" class="form-group" data-validate>
            {#   Name   #}
            {{ form.fieldGroup(
               'text',
               'full-width',
               { label: 'Name', identification: 'name' }
            )}}

            {#   Organization Type   #}
            {{ form.fieldGroup(
               'select',
               'full-width',
               {
                  label: 'Organization Type',
                  identification: 'org-type',

                  placeholder: '',
                  options: [
                     { value: 'type-1', display: 'Org Type 1' },
                     { value: 'type-2', display: 'Org Type 2' },
                     { value: 'type-3', display: 'Org Type 3' },
                     { value: 'type-4', display: 'Org Type 4' }
                  ]
               }
            )}}

            {#   Size   #}
            {{ form.fieldGroup(
               'select',
               'full-width',
               {
                  label: 'Size',
                  identification: 'org-size',

                  placeholder: '',
                  options: [
                     { value: 'org-size-1', display: 'Size 1' },
                     { value: 'org-size-2', display: 'Size 2' },
                     { value: 'org-size-3', display: 'Size 3' },
                     { value: 'org-size-4', display: 'Size 4' }
                  ]
               }
            )}}

            {#   Street Address   #}
            {{ form.fieldGroup(
               'text',
               'full-width',
               { label: 'Street address', identification: 'address' }
            )}}

            {#   City   #}
            {{ form.fieldGroup(
               'text',
               'half-width',
               { label: 'City', identification: 'city' }
            )}}

            {#   State   #}
            {{ form.fieldGroup(
               'select',
               'half-width',
               {
                  label: 'State',
                  identification: 'state',

                  placeholder: '',
                  options: [
                     { value: 'AL', display: 'Alabama' },
                     { value: 'AK', display: 'Alaska' },
                     { value: 'AZ', display: 'Arizona' },
                     { value: 'AR', display: 'Arkansas' },
                     { value: 'CA', display: 'California' },
                     { value: 'CO', display: 'Colorado' },
                     { value: 'CT', display: 'Connecticut' },
                     { value: 'DE', display: 'Delaware' },
                     { value: 'DC', display: 'District of Columbia' },
                     { value: 'FL', display: 'Florida' },
                     { value: 'GA', display: 'Georgia' },
                     { value: 'HI', display: 'Hawaii' },
                     { value: 'ID', display: 'Idaho' },
                     { value: 'IL', display: 'Illinois' },
                     { value: 'IN', display: 'Indiana' },
                     { value: 'IA', display: 'Iowa' },
                     { value: 'KS', display: 'Kansas' },
                     { value: 'KY', display: 'Kentucky' },
                     { value: 'LA', display: 'Louisiana' },
                     { value: 'ME', display: 'Maine' },
                     { value: 'MD', display: 'Maryland' },
                     { value: 'MA', display: 'Massachusetts' },
                     { value: 'MI', display: 'Michigan' },
                     { value: 'MN', display: 'Minnesota' },
                     { value: 'MS', display: 'Mississippi' },
                     { value: 'MO', display: 'Missouri' },
                     { value: 'MT', display: 'Montana' },
                     { value: 'NE', display: 'Nebraska' },
                     { value: 'NV', display: 'Nevada' },
                     { value: 'NH', display: 'New Hampshire' },
                     { value: 'NJ', display: 'New Jersey' },
                     { value: 'NM', display: 'New Mexico' },
                     { value: 'NY', display: 'New York' },
                     { value: 'NC', display: 'North Carolina' },
                     { value: 'ND', display: 'North Dakota' },
                     { value: 'OH', display: 'Ohio' },
                     { value: 'OK', display: 'Oklahoma' },
                     { value: 'OR', display: 'Oregon' },
                     { value: 'PA', display: 'Pennsylvania' },
                     { value: 'RI', display: 'Rhode Island' },
                     { value: 'SC', display: 'South Carolina' },
                     { value: 'SD', display: 'South Dakota' },
                     { value: 'TN', display: 'Tennessee' },
                     { value: 'TX', display: 'Texas' },
                     { value: 'UT', display: 'Utah' },
                     { value: 'VT', display: 'Vermont' },
                     { value: 'VA', display: 'Virginia' },
                     { value: 'WA', display: 'Washington' },
                     { value: 'WV', display: 'West Virginia' },
                     { value: 'WI', display: 'Wisconsin' },
                     { value: 'WY', display: 'Wyoming' }
                  ]
               }
            )}}

            {#   Zipcode   #}
            {{ form.fieldGroup(
               'number',
               'half-width',
               {
                  label: 'Zipcode',
                  identification: 'zip',

                  pattern:'[0-9][0-9][0-9][0-9][0-9]',
                  message: 'Please enter a 5 digit zipcode'
               }
            )}}

            {#   Submit   #}
            {{ form.submit( '--large  |  mt-7', 'Continue to set up account') }}
         </form>
      </div>
   </div>

{% endblock %}


{% do view.registerJsFile('/assets/js/static/form-validation.js') %}