{#   Banners: Standard & Centered   #}

{% import '_macros/global' as global %}


<div class="banner {{ classes }}">
   <div class="container">
      <div class="banner__container">
         {#   Content   #}
         <div class="banner__content">
            <h2 class="banner__content__heading">{{ heading }}</h2>
            <p class="banner__content__copy">{{ copy }}</p>
         </div>

         {#   Action   #}
         <div class="banner__action">
            {% if classes == "--centered" %}
               {{ global.btn('', 'btn --secondary --outline', 'Join Now') }}
            {% else %}
               {{ global.btn('', 'btn --primary --outline', 'Browse Past Meetings') }}
            {% endif %}
         </div>
      </div>
   </div>
</div>