{#   Events - Featured   #}

{% import '_macros/global' as global %}


{% set featuredEvents = craft.calendar.events({
  		endsAfterOrAt: "now",
		orderBy: "startDate ASC",
		search: "eventFeatured::1",
		limit: 1
}).one() %}
{% if featuredEvents|length %}

{% set featuredEvent = featuredEvents %}

<article class="featured-event">
   {#   Container   #}
   <div class="featured-event__container">
      {#   Info   #}
      <div class="featured-event__info">
            {% include '_components/static/snippets/events--event-date'
               with {
                  'event': featuredEvent
               }
            %}

            <div class="featured-event__info--inner">
        		<span class="heading --tiny  |  {{ (featuredEvent.producer == "TACWA" ) ? 'text-blue' : 'text-teal' }}">
                    {{ featuredEvent.producer }}
                </span>
                
                <h4>{{ global.link('/event/' ~ featuredEvent.slug, featuredEvent.title, 'link') }}</h4>

               {#   Details   #}
               <div class="featured-event__info__detail">
              	 <div class="featured-event__info__detail--item">
               		<h3>Date & Time</h3>
	                  {% include '_components/static/snippets/events--event-dates'
	                     with {
	                        'event': featuredEvent
	                     }
	                  %}
              	 </div>
              	 
		         
		         {% if featuredEvent.host %}
		         <div class="featured-event__info__detail--item">
		            <h3>Host</h3>
		            <p>{{ featuredEvent.host }}</p>
		         </div>
		         {% endif %}
		         
		         {% if featuredEvent.location %}
		         <div class="featured-event__info__detail--item">
		            <h3>Location</h3>
		            {{ featuredEvent.location }}
		         </div>
		         {% endif %}
		         
		         {% if featuredEvent.sponsors %}
		         <div class="featured-event__info__detail--item">
		            <h3>Sponsors</h3>
		            {% set sponsors = [] %}
		         {% for item in featuredEvent.sponsors %}
		         	{% set sponsors = sponsors|merge([(item.sponsorLink) ? '<a href="' ~ item.sponsorLink ~ '">' ~ item.sponsorName ~ '</a>' : item.sponsorName]) %}
		         {% endfor %}
		         	<p>{{ sponsors|join(', ') }}</p>
		         </div>
		         {% endif %}
	              
               </div>
            </div>
      </div>

      {#   Media   #}
      <div class="featured-event__media">
         <h3>Attachments & Links</h3>
         
		<ul class="featured-event__media__list">
		   {% for item in featuredEvent.attachments %}
		      <li>
		      		{% set file = item.attachmentFile.one() %}
		      		{% if file %}
		      			{% set title = (item.attachmentName) ? item.attachmentName : file.title %}
		      			{% set src = file.getUrl() %}
		      		{% else %}
		      			{% set title = (item.attachmentName) ? item.attachmentName : item.attachmentLink %}
		      			{% set src = item.attachmentLink %}
		      		{% endif %}
		      	
		         <a href="{{ src }}" target="_blank" class="link --media">
		            {{ title }}
		         </a>
		      </li>
		   {% endfor %}
		</ul>
      </div>
   </div>

   {#   Action   #}
   <div class="featured-event__action">
      {#   Calendar   #}	  
	  <a href="/export/event/{{ featuredEvent.id }}">
      <button class="btn --calendar">
         {{ global.utilityIcon('calendar', 'h-5 w-5') }}
         {{ global.utilityIcon('chevron', 'h-3 w-2  |  ml-3  |  rotate-90deg') }}
      </button>
	  </a>

      {#   Register   #}
      {{ global.btn( '/event-registration/' ~ featuredEvent.id, 'btn --primary --dark', 'Register') }}
   </div>
</article>


{% js %}
// Truncate
function truncate(n, len) {
   var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase();
   var filename = n.replace('.'+ext,'');
   if(filename.length <= len) {
      return n;
   }
   filename = filename.substr(0, len) + (n.length > len ? '...' : '');
   return filename + '.' + ext;
};


var array = document.querySelectorAll('.js--truncate-filename');

window.onload = function() {
   for (var i = 0; i < array.length; i++){
      array[i].innerText = truncate(array[i].innerText, 20);
   }
};
{% endjs %}

{% endif %}