{#   Page - Header   #}

{% import '_macros/global' as global %}


<header class="page-header {% if type == 'border' %}--border{% elseif type == 'events' %}--events{% endif %}">

   <div class="container">
      {#   Standard Header   #}
      {% if type == 'standard' %}

         <h1>{{ heading }}</h1>

      {#   Events Header   #}
      {% elseif type == 'events' %}

         <h2>{{ type }}</h2>
         <h1>{{ heading }}</h1>

      {#   Border Header   #}
      {% elseif type == 'border' %}

         {#   Border With Tabs   #}
         {% if tabs is defined %}
            <h1>{{ heading }}</h1>
            {% if tabs == 'true' %}
               <div class="page-header__tabs">

                  <a href="../forms/logged-in--org-info" class="{% if activeTab == '1' %}--is-active{% endif %}" style="">Information</a>
                  <a href="../forms/logged-in--org-membership" class="{% if activeTab == '2' %}--is-active{% endif %}" style="">Membership</a>
               </div>
            {% endif %}

         {#   Border With Link   #}
         {% elseif link_url is defined %}

            <div class="page-header__link">
               <h1>{{ heading }}</h1>

               {{ global.btn( link_url, 'btn --primary --light', link_text ) }}
            </div>

         {#   Simple Border   #}
         {% else %}

            <h1>{{ heading }}</h1>

         {% endif %}

      {% endif %}
   </div>
</header>