{#   Pagination   #}

{% import '_macros/global' as global %}

{% if pageInfo.totalPages > 1 %}
{% if searchQuery is empty %}
{% set searchQuery = null %}
{% endif %}


<div class="pagination">
   <a href="{{ pageInfo.prevUrl }}{% if searchQuery|length %}?query={{ searchQuery }}{% endif %}" class="pagination__button {% if not pageInfo.prevUrl %} --disabled {% endif %}">
      {{ global.utilityIcon('chevron', 'h-3 w-2  |  rotate-180deg  |  fill-current') }}
   </a>
   
   {% for page, url in pageInfo.getPrevUrls(5) %}
    <a class="pagination__button" href="{{ url }}{% if searchQuery|length %}?query={{ searchQuery }}{% endif %}">{{ page }}</a>
	{% endfor %}
	
	<span class="pagination__button --active">{{ pageInfo.currentPage }}</span>
	
	{% for page, url in pageInfo.getNextUrls(5) %}
	    <a class="pagination__button" href="{{ url }}{% if searchQuery|length %}?query={{ searchQuery }}{% endif %}">{{ page }}</a>
	{% endfor %}

   <a href="{{ pageInfo.nextUrl }}{% if searchQuery|length %}?query={{ searchQuery }}{% endif %}" class="pagination__button {% if not pageInfo.nextUrl %} --disabled {% endif %}">
      {{ global.utilityIcon('chevron', 'h-3 w-2  |  fill-current') }}
   </a>
</div>

{% endif %}