{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% set baseUrlSegments = 1 %}
{% set segment1 = craft.app.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.app.request.segment(baseUrlSegments + 2) %}

{# {% requireLogin %} #}
{% if not currentUser %}
{% redirect "/event-registration/" ~ segment2 %}
{% endif %}

   
   {% set eventId = segment2 %}
   {% if eventId %}
   		{% set event = craft.calendar.event(eventId) %}
	{% endif %}
	
	{% if event is not defined or event is empty %}
	  {% redirect "events" %}
	{% endif %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Event Registration'
      }
   %}
   
			
	{% set successParam = craft.app.request.getParam('success') %}
	{% if successParam is not null %}
	
	<div class="form-flow  |  container">
		{% if event.successMessage %}
		
			{{ event.successMessage }}
			
		{% else %}
		
			Thanks, we have received your registration!
	  
	  	{% endif %}
	  	
	  	{{ global.btn( '/event/' ~ event.slug, 'btn --primary --dark  |  sm:my-2', 'Return to ' ~ event.title) }}
	</div>
	  
	{% else %}
	
	
    {% set submissions = craft.freeform.submissions({
	    	form: 'eventRegistrationMember'
	    }) %}
	{% set registered = false %}
    {% for submission in submissions.all() if not registered %}
	    {% if submission.user == currentUser.id and submission.eventId == eventId %}
		    {% set registered = true %}
	    {% endif %}
    {% endfor %}
	
	{% set eventPrice = (event.memberPrice > 0) ? event.memberPrice : 0 %}
   
	<div class="form-flow  |  container">
		<div class="form-flow__wrapper --reverse">		
			
			<div class="form-flow__detail">
				<h3 class="heading --tiny  |  text-teal">Your Order</h3>
				<p class="form-flow__detail__description"><a href="/event/{{ event.slug }}" class="link">{{ event.title }}</a> - Member Registration</p>
				<p class="form-flow__detail__total">Total: {{ (eventPrice > 0) ? '$' ~ eventPrice : 'FREE' }}</p>
			</div>
			
    
			{% if registered %}
			
			<h3>You are already registered for this event.</h3>
			
			{% else %}
			
			{% set organization = craft.entries().anyStatus().id(currentUser.organizationId).one() %}
			{% if not organization %}
			    {% redirect '/account/profile' %}
			{% elseif organization.enabled == 0 %}
				{% redirect '/rejoin?p=' ~ craft.request.path | hash %}
			{% endif %}
			
			
			{{ craft.freeform.form("eventRegistrationMember", {
				returnUrl: '/event-registration/member/' ~ eventId ~ '?success=1',
			  labelClass: "form-label",
			  inputClass: "form-control",
			  overrideValues: {
			    firstName: currentUser.firstName,
				lastName: currentUser.lastName,
				email: currentUser.email,
				organizationName: organization.organizationName,
				JobTitle: currentUser.individualAccountTitle,
				eventId: eventId,
				event: eventId,
				calendarEvent: event.title,
				eventCostMember: eventPrice,
				phone: currentUser.phone,
				user: currentUser.id,
				emailMessage: event.emailMessage|e('html')
			  }
			}).render() }}
			
			{% endif %}

			 
		</div>
	</div>
	
	
	{% endif %}

{% endblock %}


{# {% do view.registerJsFile('/assets/js/form-validation.js') %} #}
{% do view.registerJsFile('/assets/js/spin.js') %}