{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% set baseUrlSegments = 1 %}
{% set segment1 = craft.app.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.app.request.segment(baseUrlSegments + 2) %}

{% if currentUser %}
{% redirect "/event-registration/member/" ~ segment2 %}
{% endif %}


   
   {% set eventId = segment2 %}
   {% if eventId %}
   		{% set event = craft.calendar.event(eventId) %}
	{% endif %}
	
	{% if event is not defined or event is empty %}
	  {% redirect "events" %}
	{% endif %}

{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Event Registration'
      }
   %}
	
	{% set successParam = craft.app.request.getParam('success') %}
	{% if successParam is not null %}
	
	<div class="form-flow  |  container">
		{% if event.successMessage %}
		
			{{ event.successMessage }}
			
		{% else %}
		
			Thanks, we have received your registration!
	  
	  	{% endif %}
	  	
	  	{{ global.btn( '/event/' ~ event.slug, 'btn --primary --dark  |  sm:my-2', 'Return to ' ~ event.title) }}
	</div>
	  
	{% else %}
	
	{% set eventPrice = (event.guestPrice > 0) ? event.guestPrice : (event.memberPrice > 0) ? event.memberPrice : 0 %}
   
	<div class="form-flow  |  container">
		<div class="form-flow__wrapper --reverse">		
			
			<div class="form-flow__detail">
				<h3 class="heading --tiny  |  text-teal">Your Order</h3>
				<p class="form-flow__detail__description"><a href="/event/{{ event.slug }}" class="link">{{ event.title }}</a> - Guest Registration</p>
				<p class="form-flow__detail__total">Total: {{ (eventPrice > 0) ? '$' ~ eventPrice : 'FREE' }}</p>
			</div>
						
			{{ craft.freeform.form("eventRegistrationGuest", {
				returnUrl: '/event-registration/guest/' ~ eventId ~ '?success=1',
			  labelClass: "form-label",
			  inputClass: "form-control",
			  overrideValues: {
				eventId: eventId,
				calendarEvent: event.title,
				eventCostGuest: eventPrice
			  }
			}).render() }}

			 
		</div>
	</div>
	
	
	{% endif %}


{% endblock %}