{% set category = content.category.one() %}

<div class="article-index__article">
    <div class="article-index__article__info">
        <a href="{{ category.url }}" class="article__info__category">
            {{ category.title }}
        </a>
        <h3 class="article__info__heading">{{ content.title }}</h3>
        <h4 class="article__info__author">by {{ content.author.fullName }}</h4>
        <time class="article__info__date">{{ content.postDate| date('M d, Y') }}</time>
    </div>

    <div class="article-index__article__summary">
        {{ content.pageDescription | chop(limit=60, unit='w', append= '…') }}
    </div>
</div>