{# Image #}
{% macro image(source, class) %}
    {# Source #}
    {% if source|length %}
        <figure class="image | lazyload{% if class %} | {{ class }}{% endif %}" style="padding-top: calc({{source.height}} / {{source.width}} * 100%);">
            <img data-src="{{ source.optimizeImage.src() }}"
                    data-srcset="{{ source.optimizeImage.srcset() }}"
                    sizes="100vw"
                    class="lazyload" />
        </figure>
    {% else %}
        {# Placeholder #}
        <figure class="image{% if class %} | {{ class }}{% endif %}">
        </figure>
    {% endif %}
{% endmacro %}


{#   Buttons   #}
{% macro btn(source, classes, text) %}
   <a href="{{ source }}" class="{{ classes }}">{{ text }}</a>
{% endmacro %}
{% macro btnButton(classes, text) %}
   <button class="{{ classes }}" type="button">{{ text }}</button>
{% endmacro %}


{#   Links   #}
{% macro link(source, text, classes) %}
   <a href="{{ source }}" class="{{ classes }}">
      {{ text }}
      <svg class="fill-current  |  h-3 w-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16">
         <path d="M1.9 0L0 1.88 6.18 8 0 14.12 1.9 16 10 8 1.9 0z"/>
      </svg>
   </a>
{% endmacro %}

{% macro linkIt(source, classes) %}	
   {% if source %}	
        {# More options here: https://github.com/fruitstudios/craft-linkit/blob/master/README.md #}	
        {% set attributes = {	
            class: classes	
        } %}	
        {{ source.link(attributes) }}	
    {% endif %}	
{% endmacro %}

{# Utility Icons #}
{% macro utilityIcon(icon, classes) %}
   {% switch icon %}

      {% case "chevron" %}
         <svg class="fill-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16">
            <path d="M1.9 0L0 1.88 6.18 8 0 14.12 1.9 16 10 8 1.9 0z"/>
         </svg>

      {% case "close" %}
         <svg class="fill-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M20 2.02L17.98 0 10 7.98 2.02 0 0 2.02 7.98 10 0 17.98 2.02 20 10 12.02 17.98 20 20 17.98 12.02 10 20 2.02z"/>
         </svg>

      {% case "user" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M18 19v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2m8-18a4 4 0 1 1-4 4 4 4 0 0 1 4-4z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
         </svg>

      {% case "calendar" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 13.5v6m-3-3h6M2.25 3.75h19.5a1.5 1.5 0 0 1 1.5 1.5v16.5a1.5 1.5 0 0 1-1.5 1.5H2.25a1.5 1.5 0 0 1-1.5-1.5V5.25a1.5 1.5 0 0 1 1.5-1.5zm-1.5 6h22.5M6.75 6V.75M17.25 6V.75" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "search" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M6.27 1.47a9.06 9.06 0 1 1-4.8 11.89 9.05 9.05 0 0 1 4.8-11.89zm10 14.75l7 7" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "hamburger" %}
         <svg class="fill-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16">
            <path d="M0 16h24v-2.67H0zm0-6.67h24V6.67H0zM0 0v2.67h24V0z" />
         </svg>

      {% case "link" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20">
            <path d="M9.36 16.5l-.93.93a4.5 4.5 0 0 1-6.36-6.36l4.77-4.78a4.5 4.5 0 0 1 6.83 5.83m1.15-8.55l.75-.75a4.5 4.5 0 0 1 6.36 6.36L17.16 14a4.5 4.5 0 0 1-6.82-5.82" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "attachment" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.25 10l-11 11a6.75 6.75 0 0 1-9.54-9.54l9-9a4.5 4.5 0 1 1 6.37 6.37l-9 9a2.25 2.25 0 0 1-3.18-3.18l9-9" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "location" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24">
            <path d="M17.5 9.75c0 4.22-2.93 6.65-5.13 9a26.48 26.48 0 0 0-2.37 3 26.05 26.05 0 0 0-2.36-3c-2.2-2.34-5.14-4.75-5.14-9a7.5 7.5 0 0 1 15 0zm-7.5-3a3 3 0 1 1-3 3 3 3 0 0 1 3-3z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "phone" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 24">
            <path d="M4.25.75h7.5a3 3 0 0 1 3 3v16.5a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3V3.75a3 3 0 0 1 3-3zm-3 18h13.5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "email" %}
         <svg class="stroke-current {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20">
            <path d="M3 2.5h18A1.5 1.5 0 0 1 22.5 4v12a1.5 1.5 0 0 1-1.5 1.5H3A1.5 1.5 0 0 1 1.5 16V4A1.5 1.5 0 0 1 3 2.5zm19.16.55L14 9.31a3.3 3.3 0 0 1-4 0L1.84 3.05" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "meeting" %}
         <svg class="stroke-current text-teal  |  h-10 w-10  {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
            <path d="M7.33 25.07A4.43 4.43 0 1 1 2.9 29.5a4.43 4.43 0 0 1 4.43-4.43zM13.66 39A7.17 7.17 0 0 0 1 39m31.66-13.93a4.43 4.43 0 1 1-4.43 4.43 4.43 4.43 0 0 1 4.43-4.43zM39 39a7.18 7.18 0 0 0-12.67 0M20 1a4.44 4.44 0 1 1-4.44 4.43A4.43 4.43 0 0 1 20 1zm5.49 12.67a7.2 7.2 0 0 0-11 0M15 33a14 14 0 0 0 10 0M10.45 9.87A13.88 13.88 0 0 0 6.06 20c0 .43 0 .84.07 1.27m27.74 0c0-.42.06-.85.06-1.27a13.88 13.88 0 0 0-4.39-10.13" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "mission" %}
         <svg class="stroke-current text-teal  |  h-10 w-10  {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
            <path d="M.87 35.79a9.31 9.31 0 0 0 7.6-2.53 7.69 7.69 0 0 0 11.4 0 7.69 7.69 0 0 0 11.4 0 9.31 9.31 0 0 0 7.6 2.53m-26.6-16.47H.87m0-12.66h11.4m1-2.54h5.63a1 1 0 0 1 1 1v15.77a1 1 0 0 1-1 1h-5.66a1 1 0 0 1-1-1V5.1a1 1 0 0 1 1-.98zm12 16.29a13.84 13.84 0 0 0-5.07-1.08h-.31m10.06 4.3A14 14 0 0 1 32.76 28M25 11.06a22.25 22.25 0 0 1 5 1.77M34.75 16a22.36 22.36 0 0 1 3.54 3.86" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% case "vision" %}
         <svg class="stroke-current text-teal  |  h-10 w-10  {{ classes }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
            <path d="M6.25 38.75l-3.36-4a7.51 7.51 0 0 1-1.64-4.65v-8.62A2.5 2.5 0 0 1 3.75 19a2.5 2.5 0 0 1 2.5 2.5v6.25m7.5 11v-5a7.56 7.56 0 0 0-1.26-4.17l-1.9-2.85a2.34 2.34 0 0 0-3.3-.73 2.34 2.34 0 0 0-.79 3l2.25 3.75m25 6l3.36-4a7.51 7.51 0 0 0 1.64-4.68v-8.59a2.5 2.5 0 0 0-2.5-2.5 2.5 2.5 0 0 0-2.5 2.5v6.25m-7.5 11v-5a7.56 7.56 0 0 1 1.26-4.17l1.91-2.85a2.34 2.34 0 0 1 3.29-.71 2.35 2.35 0 0 1 .8 3l-2.26 3.75m-3.81-17.69a7.44 7.44 0 1 1-14.88 0c0-6.37 6.38-13.81 7.44-13.81s7.44 7.44 7.44 13.81zM20 17.5a2.5 2.5 0 0 1-2.5-2.5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
         </svg>

      {% default %}

    {% endswitch %}

{% endmacro %}


{# Brand Icons #}
{% macro brandIcon(icon, class) %}
    {% switch icon %}

        {% case "logo" %}
            logo
        {% default %}

    {% endswitch %}

{% endmacro %}