{#   Login - Standard   #}

{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}


{% block content %}

   <div class="form-flow--login  |  container  |  mt-12 sm:mt-24">
	
      <div class="form-flow__wrapper">

         {#   Form   #}
         <form method="post" accept-charset="UTF-8" class="form-group">
         	{{ csrfInput() }}
            <input type="hidden" name="action" value="users/login">

			
            <h1 class="font-normal text-24 md:text-32 text-blue  |  max-w-md md:max-w-lg  |  mb-8 px-2">Sign In</h1>
            <h4 class="font-normal mb-8 px-2">Thank you for registering your organization with TACWA, please log in with your username and password chosen in the registration process.</h4>

            {#   Email   #}
            {{ form.fieldGroup(
               'email',
               'full-width',
               { label: '', identification: 'loginName', placeholder: 'Email' }
            )}}

            {#   Password   #}
            {{ form.fieldGroup(
               'password',
               'full-width',
               { label: '', identification: 'password', placeholder: 'Password' }
            )}}

            {#   Reset Password   #}
            {{ form.helpLink('/', 'Reset Password') }}

            {#   Submit   #}
            {{ form.submit( '--small  |  mt-7', 'Login') }}
            {{ redirectInput('/event/event-for-sponsorship') }}
            {% if errorMessage is defined %}
               <p>{{ errorMessage }}</p>
            {% endif %}
         </form>
      </div>
   </div>

{% endblock %}